body{
	overflow: hidden;
}

.container-main{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container-amigos{
	padding-top: 50px;
	padding-left: 20px;
	background-color: rgb(34, 34, 34);
	width: 30vw;
	height: 100vh;
	margin-left: -20px;
	overflow: scroll;
}

.container-mensagens{
	background-color: rgb(64, 100, 67);
	width: 70vw;
	height: 100vh;
	margin-right: -20px;
	border-left: solid white 4px;
}

.container-enviar-mensagens{
	padding-left: 60px;
	padding-top: 15px;
	align-items: center;
	z-index: 100;
	background-color: red;
	padding-bottom: 100%;
	margin-top: 77vh;
}

.foto{
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.primeiro-dentro{
	border: 1px solid darkgray;
	background-color: rgb(37, 37, 37);
	margin-left: -20px;
	padding-left: 20px;
	margin-top: -15px;
	padding-bottom: 20px;
}

.dentro{
	border: 1px solid darkgray;
	background-color: rgb(37, 37, 37);
	margin-left: -20px;
	padding-left: 20px;
	margin-top: 10px;
	padding-bottom: 30px;
}

.primeiro-dentro:hover{
	background-color: red;
	margin-left: -20px;
	padding-left: 20px;
	margin-top: -15px;
	padding-bottom: 20px;
	background-color: rgb(67, 67, 67);
	margin-left: -20px;
	padding-left: 20px;
	cursor: pointer;
}

.dentro:hover{
	background-color: rgb(67, 67, 67);
	margin-left: -20px;
	padding-left: 20px;
	cursor: pointer;
}

.enviar-mensagem{

	border-radius: 8px;
	width: 130%;
	height: 40px;
	background-color: rgb(210, 210, 210);
	font-size: 20px;
	padding-left: 8px;
	z-index: 70;
}