body{
	overflow: hidden;
	margin-top: 5vh;
}

.container-main{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container-amigos{
	padding-top: 50px;
	padding-left: 20px;
	background-color: rgb(34, 34, 34);
	width: 30vw;
	height: 100vh;
	margin-left: -20px;
	border-right: solid white 4px;
	overflow: scroll;
}

.container-mensagens{
	background-color: rgb(34, 34, 34);
	width: 70vw;
	height: 70vh;
	margin-right: -20px;
	padding-left: 10px;
	overflow: scroll;
	padding-top: 50px;

}::-webkit-scrollbar {
    width: 0px;
}

.container-enviar-mensagens{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	align-items: center;
	z-index: 1;
	border-radius: 15px;
	background-color: rgb(34, 34, 34);
	padding-bottom: 15vh;
	margin-top: 70vh;
	margin-left: -10px;
	position: fixed;
	width: 65vw;

}

.enviar-mensagem{

	border-radius: 8px;
	width: 65vw;
	height: 40px;
	background-color: rgb(210, 210, 210);
	font-size: 20px;
	padding-left: 8px;
	z-index: 70;         
}

.btn-enviar-mensagem{

}

.foto{
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.primeiro-dentro{
	border: 1px solid darkgray;
	background-color: rgb(37, 37, 37);
	margin-top: 10px;
	margin-left: -20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

.primeiro-dentro:hover{
	margin-left: -20px;
	padding-left: 20px;
	padding-bottom: 20px;
	background-color: rgb(67, 67, 67);
	margin-left: -20px;
	padding-left: 20px;
	cursor: pointer;
}

.img-dentro{
	width: 55px;
	height: 55px;
	margin-left: 260px;
	margin-top: -48px;
	filter: invert(1);
	position: absolute;
	transition: 150ms linear; 
}

.img-dentro:hover{
	width: 60px;
	height: 60px;
	margin-left: 260px;
	margin-top: -50px;
	filter: invert(0);
	transform: scale(1.00);

}

.img-perfil{
	border-radius: 50%;
	width: 80px;
	height: 80px;

}